<!DOCTYPE html>
  <html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
  </head>
  <body>
      <h1>Buscar mascota por tipo</h1>
    
      <form action="/panel-mascota/buscar" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
      </form>

      {% for animal in lista_mascotas %}
      <ul>
          <li>Id: {{animal.id}}, Tipo de animal: {{animal.tipo_animal}}, Edad: {{animal.edad}}</li>
      </ul>
      {% endfor %}

  </body>
  </html>