<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de mis familiares MVP</h1>

    {% for familiar in lista_familiaresMVP %}
        <ul>
            <li> Nombre: {{familiar.nombre}}, Edad: {{familiar.edad}}, Último trabajo: {{familiar.ultimo_trabajo}}, Fecha de nacimiento: {{familiar.fecha_de_nacimiento}} </li>
        </ul>
    {% endfor %}
    
</body>
</html>